body{
	font-size: 16px;
	background-color: grey !important;
	margin: 0;
}
#header-nav{
	background-color: green;
	border-radius: 0;
	border: 0;
	padding-bottom: 20px;

}

#header-nav .container{
	margin:0 !important;
}
#nav-brand  h1{
	color: #000;
	padding: 0;
	text-align: left;
	margin-bottom: 20px;
	margin-top: 0;
}
#nav-brand  a:hover, #nav-brand  a:focus{
	text-decoration: none;

}
#nav-brand{
	margin-bottom:20px;
}

navbar-brand{
	padding-top: 25px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid orange;
}

.navbar-header button.navbar-toggle:focus, .navbar-header button.navbar-toggle:hover{
	background-color: #1c8282;
}

#nav-list li a{
	text-align: center;
	font-size: 2em;
	color: yellow;
}

#nav-list li a:hover, #nav-list li a:focus{
	background-color: #000;
	cursor: pointer;
}
/*end nav*/


#main-text article{
	background-color: orange;
	color: #000;
	font-size: 1.3em;
	margin: 20px auto 0;
	width :92.5%;
	padding: 10px;

}
#main-text .row  div{
	padding-left: 5px;
	padding-right: 5px; 
}
#main-text h2, #main-text h1{
	text-align: center;
}
#main-text h1{
	margin-bottom: 50px;
	margin-top: 10px;
	color: #000;
}
@media (max-width: 767px){
	#main-text{
		margin-left: 10px;
		margin-right: 10px;
	}
}
section.row{
	margin: 0;
}
